@-webkit-keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.hero_parent {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: -2px !important;
  z-index: 10;
  background-color: var(--color-white-off);
}
.hero_btn {
  font-size: var(--font-2xl) !important;
  border: 1px solid var(--color-white-off);
  border-radius: 10px;
  padding: 10px 24px;
  color: var(--color-white-off) !important;
  background: var(--color-light-green);
}
.hero_heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
// .icon_1 {
//   position: absolute;
//   top: 36%;
//   left: 15%;
// }
// .icon_2 {
//   position: absolute;
//   bottom: 9%;
//   left: 50%;
//   transform: translate(-50%, 0);
//   z-index: -1;
// }
// .icon_2 svg {
//   transform: scale(1.22);
// }
// .icon_3 {
//   position: absolute;
//   top: 33%;
//   right: 7%;
// }
// .icon_4 {
//   position: absolute;
//   left: 11.5%;
//   z-index: 1;
// }
.arrow_tabs {
  transform: scale(1.7);
  max-width: 500px;
  z-index: -1;
  left: 10%;
}
.side_icon {
  right: 0;
  bottom: 0;
}
.hero_slide_parent {
  position: relative;
  z-index: -1;
}
// .hero_section_text {
//   min-height: 100vh;
// }
.i_pad_img {
  position: absolute;
  z-index: -1;
  width: 100%;
  &::after {
    position: absolute;
    content: "";
    width: 91%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-gray);
    z-index: -1;
    border-radius: 20px;
  }
}
.i_pad_img_2 {
  max-width: 1200px;
  margin: 0 auto;
}
.max_width_tabs {
  max-width: 1200px;
  margin: 0 auto;
}
.carplanner_logo {
  max-width: 490px;
}
.carplanner_cards {
  width: 565px;
}
.carplanner_btn {
  padding: 8px 36px 8px 36px;
  background: rgba(83, 132, 153, 0.5);
  border-radius: 10.9063px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #ffffff;
    color: var(--color-dark-gray) !important;
    .car_img {
      transform: scale(1.2) !important;
    }
    svg {
      path {
        fill: rgba(83, 132, 153, 1) !important;
      }
    }
  }
  svg {
    transition: all 0.3s ease-in-out;
  }
  .car_img {
    transform: scale(1) !important;
    transition: all 0.3s ease-in-out;
  }
}
.car_img {
  height: 24px !important;
}
.tab_right_icon {
  right: 2%;
}
.tabs_btn {
  background: rgba(126, 228, 156, 0.5);
  border: 1px solid var(--color-white-off);
  border-radius: 10px;
  padding: 10px 24px;
}
.tabs_wrap {
  flex-wrap: wrap;
}
.crm_slider {
  min-width: 220px;
  max-width: 220px;
  height: 250px;
  display: flex;
  align-items: center;
}
.topscroll {
  position: absolute;
  right: 15px;
  bottom: 100px;
  background: var(--color-light-green);
  border: 1px solid white;
  height: 40px;
  width: 40px;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-animation: move 2s ease-in-out infinite;
  -webkit-animation: up-down 2.5s ease-in-out infinite;
  animation: up-down 2.5s ease-in-out infinite;
  &:hover {
    box-shadow: 0px 4px 30px var(--color-light-green);
  }
}
.big_icon {
  top: 0;
  z-index: -1;
  transform: scale(1.5);
}
.business_para_1 {
  top: 0;
  opacity: 0;
}
.business_para_2 {
  top: 40px;
  opacity: 0;
}
.business_para_3 {
  top: 80px;
  opacity: 0;
}
.business_para_4 {
  top: 120px;
  opacity: 0;
}
.small_icon {
  position: absolute;
  left: -70px;
}
.custom_business_img_height {
  height: 400px;
}
.about_icon_2 {
  position: absolute;
  max-width: 400px;
  left: 0;
  top: 50%;
  transform: translateY(-42%);
}
.about_icon_1 {
  position: absolute;
  max-width: 400px;
  left: 0;
  top: 50%;
  transform: translateY(-42%);
}
.about_text_1 {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.about_text_2 {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.about_text_3 {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.timeline_arrow_icon {
  position: absolute;
  z-index: -1;
  transform: translateY(-41%);
  max-width: 2000px;
  top: 50%;
  left: 0;
}
.small_icon_2 {
  position: absolute;
  z-index: -1;
}
.business_icon_img_2 {
  top: 50%;
}
.timeline_with_dot {
  height: 2px;
  background-color: var(--color-white-off);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background: white;
    right: 0;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    border-radius: 50%;
  }
}
.timeline_ist_dot {
  &::before {
    position: absolute;
    content: "";
    background: white;
    left: 0;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    border-radius: 50%;
  }
}
.timeline_text_4 {
  right: 0;
  max-width: 200px;
}
.business_parent {
  background: var(--color-dark-gray);
}
.small_tab_arrow_img {
  height: 155vh;
}
// .small_tab_arrow_img_forth {
//   height: 110vh;
// }
.common_button {
  background: rgba(126, 228, 156, 0.5);
  border: 1px solid var(--color-white-off);
  border-radius: 10px;
  padding: 14.4px 24px;
  display: inline-block;
  font-weight: 400;
  height: 52px;
  line-height: 76%;
}
.common_padding {
  padding-top: 23px;
}
.meeting_custom_top_space {
  margin-top: 23px;
}
.custom_margin_footer {
  margin-top: 36px;
}
.footer_icons_hover {
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  img {
    transition: all 300ms ease-in-out;
  }
}
.list_item_text {
  &:hover {
    color: var(--color-light-green);
  }
  transition: all 400ms ease-in-out;
}
.common_margin {
  margin-top: 40px !important;
}
.small_icon_arrow {
  top: 12%;
  left: -20px;
}
.small_icon_arrow_2 {
  top: 80%;
  right: 18%;
}
.noi_btn {
  padding: 8px 24px 12px !important;
  color: var(--color-dark-gray) !important;
}
.timeline_text_heading {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.timeline_left_icon {
  right: 4%;
  top: 6px;
}
.timeline_parent {
  .timeline_text_1 {
    p {
      letter-spacing: -0.01em;
      line-height: 147%;
    }
  }
  .timeline_text_2 {
    p {
      letter-spacing: -0.01em;
      line-height: 147%;
    }
  }
  .timeline_text_3 {
    p {
      letter-spacing: -0.01em;
      line-height: 147%;
    }
    img {
      max-width: 289.29px !important;
    }
  }
  .timeline_text_4 {
    p {
      letter-spacing: -0.01em;
      line-height: 147%;
    }
    top: 49%;
    right: 4% !important;
  }
}
.year_4 {
  right: 10%;
}
.timeline_slide_content {
  max-width: 845px;
}
.timeline_btn {
  padding: 2px 27px 6px;
  border: 2px solid #53849980;
  border-radius: 10.91px;
  position: relative;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}
.ipad_image {
  width: 160vw;
  height: 156vh;
  margin-left: -20px;
}
.timeline_year {
  font-size: var(--font-9xl);
  font-weight: 400;
  color: var(--color-white-off);
  right: 0;
}
.partner_para {
  line-height: 167%;
}
.leasyslogo {
  max-width: 233.07px;
  min-height: 47px;
}
.enelexlogo {
  max-width: 236px;
  min-height: 48px;
}
.athlonlogo {
  max-width: 194px;
  min-height: 74px;
}
.insuramalogo {
  max-width: 214px;
  min-height: 67px;
}
.aldlogo {
  max-width: 198px;
  min-height: 73px;
}
.bmwlogo {
  max-width: 154px;
  min-height: 89px;
}
.toyatologo {
  max-width: 154px;
  min-height: 89px;
}
.audilogo {
  max-width: 125px;
  min-height: 79px;
}
.jaguarlogo {
  max-width: 142px;
  min-height: 79px;
}
.carousel-control-next-icon {
  display: none !important;
}
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-indicators {
  bottom: -50px !important;
  [data-bs-target] {
    background-color: #373737 !important;
  }
}
.salesforcelogo {
  max-width: 179.67px;
  min-height: 125.57px;
}
.amazonlogo {
  max-width: 181.2px;
  min-height: 76.29px;
}
.hubsportlogo {
  max-width: 151.63px;
  min-height: 43px;
}
.pipedrivelogo {
  max-width: 225.74px;
  min-height: 75.92px;
}
.zendexlogo {
  max-width: 280.38px;
  min-height: 85.83px;
}
.custom_partner_gap {
  gap: 48px;
}
.arrowbtn_set {
  right: 9%;
  top: 10%;
}
.daicar_arrow_set {
  right: 80px;
  top: 40px;
}
.roadmaparrow_left {
  left: -26px;
  top: -14px;
}
.roadmaparrow_center {
  left: 60%;
  top: -14px;
  transform: translateX(-60%);
}
.roadmaparrow_left1 {
  left: -26px;
  top: -26px;
  z-index: 2;
}
.tiguido_card {
  width: 710px;
}
.candlecake_icon {
  left: 74%;
  top: -29px;
  z-index: 2;
}
.footer_background_set {
  bottom: 0;
  left: 0 !important;
  width: 100%;
  height: 750px;
}
.hero_section_heading {
  transform: translateY(-148px);
}
.hero_heading_btn {
  font-size: var(--font-5xl) !important;
  padding: 4px 24px 11px !important;
  color: var(--color-dark-gray) !important;
  background: rgba(126, 228, 156, 0.5) !important;
  border: 1px solid var(--color-white-off) !important;
  border-radius: 10px !important;
}
.hero_slide_3_btn {
  font-size: var(--font-xl) !important;
  padding: 11px 15px 14px !important;
}
.hero_slide_1 h3,
.hero_slide_2 h3 {
  font-size: 72px !important;
}
.show_chat_icon {
  position: fixed;
  right: 35px;
  bottom: 37px;
  height: 53px;
  width: 53px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(0.94);
  }
}
.crm_left_icon {
  right: 5%;
  top: 10%;
}
.meeting_para {
  line-height: 236% !important;
  max-width: 1302px !important;
}
.meeting_btn_parent button {
  color: var(--color-dark-gray) !important;
}
.meeting_btn_parent .meeting_border_line::after {
  height: 82px !important;
  right: 127px !important;
}
.social_links_parent a img {
  transition: all 400ms ease-in-out;
}
.tab-side-effect {
  transform: rotate(90deg);
}
.footer_social_icon,
.footer_social_icon svg path,
.insta_icon svg path {
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  &:hover {
    background-color: var(--color-light-green);
    svg {
      path {
        fill: var(--color-dark-gray);
      }
    }
  }
}
.insta_icon svg:hover path {
  fill: var(--color-light-green) !important;
  stroke: var(--color-dark-gray) !important;
}

/* HEADER-CSS */
@-webkit-keyframes navbar_btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes navbar_btn {
  0% {
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}
.navbar_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 24px 10px;
  width: 97px;
  height: 52px;
  background: rgba(126, 228, 156, 0.5);
  border: 1px solid var(--color-white-off);
  border-radius: 10px;
  transition: all 300ms linear;
  &:hover {
    -webkit-animation: navbar_btn 1s;
    animation: navbar_btn 1s;
    -webkit-box-shadow: 0 0 0 0.7em transparent;
    box-shadow: 0 0 0 0.7em transparent;
  }
  &:focus {
    -webkit-animation: navbar_btn 1s;
    animation: navbar_btn 1s;
    -webkit-box-shadow: 0 0 0 0.7em transparent;
    box-shadow: 0 0 0 0.7em transparent;
  }
}
.header_btn {
  &:hover {
    background: rgba(57, 176, 93, 0.5);
    color: white;
  }
}
.parliamone {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 70.47px;
    width: 1.69px;
    border: 1px solid var(--color-white-off);
    opacity: 0.5;
    background-color: var(--color-white-off);
    right: -30px;
    top: -20px;
  }
}
.nav-fix {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  transition: all 700ms ease-in-out !important;
  display: flex;
  background: var(--color-dark-gray) !important;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  z-index: 12 !important;
}
.fix-navbar {
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all 700ms ease-in-out !important;
  display: flex;
  background: var(--color-dark-gray) !important;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  z-index: 12 !important;
}
.nav_bg {
  background: var(--color-dark-gray) !important;
}
.nav_hover {
  transition: all 400ms ease-in-out;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -7px;
    background-color: var(--color-light-green);
    left: 50%;
    transform: translateX(-50%);
    transition: all 500ms ease-in-out;
  }
  &:hover {
    color: var(--color-white-off);
    &::after {
      width: 100%;
    }
  }
}
.btn_close_position {
  top: 30px;
  right: 30px;
  width: 10%;
}
.sentia_link {
  transition: all 500ms ease-in-out;
  letter-spacing: -0.01em;
}
.sentia_link:hover {
  color: var(--color-light-green);
}
.top_minus_space {
  margin-top: -2px;
}
.tabs_lottie {
  top: 8%;
}
.tabs_lottie_width {
  width: 90%;
  margin: 0 auto;
}
