@media (min-width: 576px) {
  .common_gap {
    gap: 19px;
  }
  .common_button {
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb;
    border-radius: 10px;
    padding: 8px 6px;
    font-weight: 400;
  }
  // .meeting_top_space{
  //   margin-top: 100px;
  // }
  .margin_top15 {
    margin-top: 15px !important;
  }
  .margin_top36 {
    margin-top: 24px !important;
  }
  .padding_y163 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .padding_y55 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .svg {
    transition: all 400ms ease-in-out;
    width: 36px;
    height: 36px;
  }
  .common_width {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 768px) {
  .common_gap {
    gap: 20px;
  }
  .common_button {
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb;
    border-radius: 10px;
    padding: 13.3px 34.1px;
    display: inline-block;
    font-weight: 400;
  }
  // .meeting_top_space{
  //   margin-top: 143px;
  // }
  .Calendly_button {
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb;
    border-radius: 10px;
    padding: 20px 124px;
    font-weight: 400;
  }
  .padding_y163 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .padding_y55 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .svg {
    transition: all 400ms ease-in-out;
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 992px) {
  .padding_y163 {
    // padding-top: 163px !important;
    padding-bottom: 163px !important;
  }
  .padding_y55 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .svg {
    transition: all 400ms ease-in-out;
    width: 46px;
    height: 46px;
  }
  .common_width {
    width: 42px;
    height: 40px;
  }
  .partner_parent {
    min-height: 100vh;
  }
  .crm_parent {
    min-height: 100vh;
  }
}

@media (min-width: 1400px) {
  .margin_top36 {
    margin-top: 30px !important;
  }
  .padding_y55 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .common_gap {
    gap: 55px;
  }
  .common_container {
    // max-width: 1475px;
    margin-left: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .business_img_2 {
    object-fit: contain;
    max-height: 500px;
  }
}

@media (min-width: 1600px) {
  .roadmap_icon_2 {
    max-width: 600px !important;
  }
  .roadmap_icon_1 {
    max-width: 600px !important;
  }
  .roadmap_col_content {
    max-width: 660px !important;
  }
  .roadmap_text_1 {
    h4 {
      max-width: 900px;
    }
  }
  .roadmap_text_2 {
    h4 {
      max-width: 840px;
    }
  }
  .roadmap_text_3 {
    h4 {
      max-width: 840px;
    }
  }
  .icon_2 {
    svg {
      width: 1300px !important;
    }
  }
  .business_icon_img_2 {
    top: 35%;
  }
  .divide_space_text {
    justify-content: space-between !important;
  }
  .custom_container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 12px;
  }
  .leasyslogo {
    max-width: 233.07px;
    min-height: 47px;
  }
  .enelexlogo {
    max-width: 236px;
    min-height: 48px;
    margin-right: 11px;
  }
  .athlonlogo {
    max-width: 194px;
    min-height: 74px;
    margin-right: 11px;
  }
  .insuramalogo {
    max-width: 214px;
    min-height: 67px;
    margin-right: 11px;
  }
  .aldlogo {
    max-width: 198px;
    min-height: 57px;
  }
  .bmwlogo {
    max-width: 154px;
    min-height: 89px;
    margin-right: 100px;
  }
  .toyatologo {
    max-width: 154px;
    min-height: 89px;
    margin-right: 102px;
  }
  .audilogo {
    max-width: 125px;
    min-height: 79px;
    margin-right: 102px;
  }
  .jaguarlogo {
    max-width: 142px;
    min-height: 79px;
  }
  .salesforcelogo {
    max-width: 179.67px;
    min-height: 125.57px;
    margin-right: 45px;
  }
  .amazonlogo {
    max-width: 181.2px;
    min-height: 76.29px;
    margin-right: 45px;
  }
  .hubsportlogo {
    max-width: 151.63px;
    min-height: 43px;
    margin-right: 30px;
  }
  .pipedrivelogo {
    max-width: 225.74px;
    min-height: 75.92px;
    margin-right: 30px;
  }
  .zendexlogo {
    max-width: 280.38px;
    min-height: 85.83px;
  }
  .gap_xxl_66 {
    gap: 66px !important;
  }
  .heading_1 .m_w_business_text {
    max-width: 474px;
  }
  .m_w_business_text {
    max-width: 525px;
    line-height: 142%;
  }
  .business_img_1 {
    margin-left: 32px !important;
  }
  .business_img_2 {
    object-fit: contain;
    max-height: 544px;
    max-width: 359px;
    margin-left: 190px;
  }
  .business_img_3 {
    max-width: 369px;
    margin-left: 150px;
  }
  .business_img_4 {
    width: 645px !important;
  }
  .timeline_line_img {
    max-width: 1280px;
  }
  .timeline_text_2 {
    max-width: 550px !important;
  }
  .timeline_text_3 {
    max-width: 600px !important;
    margin-top: -125px;
  }
}

@media (min-width: 1400px) and (max-width: 1599.98px) {
  .business_img_1 {
    margin-left: 72px !important;
    max-width: 410px !important;
  }
  .business_img_2 {
    max-height: 444px;
    max-width: 359px;
    margin-left: 190px;
  }
  .business_img_3 {
    max-width: 300px;
    margin-left: 150px;
  }
  .business_img_4 {
    width: 485px !important;
    margin-left: 20px !important;
  }
  .business-content {
    transform: translateY(20px) !important;
    padding-top: 14px !important;
  }
  .roadmap_text_1 {
    width: 710px !important;
    margin-left: -60px;
  }
}

@media (max-width: 1599.98px) {
  .icon_1 {
    top: 23% !important;
    left: 15% !important;
  }
  .icon_1 svg {
    max-width: 187px !important;
  }
  .icon_3 svg {
    max-width: 414px !important;
  }
  .icon_2 {
    top: -25% !important;
    svg {
      width: 800px !important;
    }
  }
  .icon_3 {
    top: 19% !important;
    right: -30px !important;
    svg {
      width: 450px !important;
    }
  }
  .custom_height_tab_img {
    max-height: 565px;
    width: 70% !important;
    left: 15% !important;
  }
  .i_pad_img_2 {
    margin-left: 180px;
  }
  .timeline_line_img {
    max-width: 1050px;
  }
  .timeline_text_1 {
    max-width: 400px !important;
  }
  .timeline_text_2 {
    max-width: 400px !important;
  }
  .timeline_text_3 {
    max-width: 440px !important;
    margin-top: -70px;
  }
  .timeline_arrow_icon {
    top: 49%;
  }

  .timeline_text_4 {
    max-width: 150px;
  }
  .footer_background_set {
    height: 600px;
  }
  .meeting_top_space {
    margin-top: 50px;
  }
}

@media (max-width: 1499.98px) {
  .m_w_business_text {
    max-width: 400px;
  }
  .timeline_arrow_icon {
    transform: translateY(-40%);
  }
  .timeline_line_img {
    max-width: 970px;
  }
}

@media (max-width: 1399.98px) {
  .roadmap_icon_2 {
    max-width: 370px;
  }
  .roadmap_icon_1 {
    max-width: 370px;
  }
  .roadmapline_set {
    left: -220px;
    z-index: 1;
    width: 100% !important;
  }
  .small_icon {
    left: 0%;
  }
  .icon_3 {
    top: 15% !important;
  }
  .icon_3 svg {
    width: 340px !important;
  }
}

@media (max-width: 1199.98px) {
  .carplanner_cards {
    width: 420px;
  }
  .carplanner_logo {
    max-width: 350px;
  }
  .small_icon_arrow {
    top: -5%;
    left: -5%;
    svg {
      max-width: 42px;
    }
  }
  .small_icon_arrow_2 {
    top: 64%;
    right: 30%;
    svg {
      max-width: 42px;
    }
  }
  .roadmap_icon_1 {
    max-width: 300px !important;
  }
  .roadmap_icon_2 {
    max-width: 300px !important;
  }
  .icon_1 {
    top: 6% !important;
    left: 5% !important;
  }
  .icon_2 {
    top: -48% !important;
    svg {
      width: 650px !important;
    }
  }
  .icon_3 {
    top: -5% !important;
    right: -10px !important;
    svg {
      width: 300px !important;
      margin-left: 40px;
    }
  }
  .hero_btn {
    padding: 8px 16px;
    border-radius: 6px !important;
  }
  .custom_height_tab_img {
    height: 550px;
    max-height: 450px;
    left: 15% !important;
  }
  .i_pad_img_2 {
    margin-left: 155px;
  }
  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 62px !important;
  }
}

@media (max-width: 991.98px) {
  .carplanner_cards {
    width: 350px;
  }
  .carplanner_logo {
    max-width: 280px;
  }
  .roadmapline_set {
    left: -100px;
    z-index: 1;
    width: 100% !important;
  }
  .small_icon_arrow_2 {
    top: 65%;
    right: 25%;
    top: unset;
    right: -20px;
    bottom: -40px;
    svg {
      max-width: 52px;
    }
  }
  .small_icon_arrow {
    left: 0%;
    svg {
      max-width: 52px;
    }
  }
  .forth_section {
    background-color: var(--color-light-green_2);
    height: 100% !important;
  }
  .roadmap_icon_1 {
    display: none !important;
  }
  .roadmap_icon_2 {
    display: none !important;
  }
  .roadmap_para {
    max-width: 621px;
    margin: auto;
    padding: 16px 19px 0px 52px;
  }
  .custom_top_spacing {
    margin-top: 12vh;
  }
  .icon_1 {
    svg {
      width: 250px !important;
    }
    top: 17% !important;
    left: -1% !important;
  }
  .icon_2 {
    svg {
      width: 900px !important;
    }
    top: -8% !important;
    left: 47% !important;
  }
  .icon_3 {
    svg {
      width: 400px !important;
    }
    top: 41% !important;
    right: -50px !important;
  }
  .icon_3 svg {
    margin-left: 28% !important;
  }
  .i_pad_img_2 {
    margin-left: 39px;
  }
  .arrow_tabs {
    left: -2%;
    transform: unset;
  }
  .custom_height_tab_img {
    left: 5% !important;
    width: 90% !important;
  }
  .i_pad_img {
    width: 150%;
  }
  .third_sec_height {
    height: unset;
  }
  .partner_btn {
    padding: 11px 16px;
    max-width: 130px;
    min-height: 33px;
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb !important;
    border-radius: 10px !important;
    line-height: 50%;
  }
  .leasyslogo {
    max-width: 169.39px;
    min-height: 34.16px;
  }
  .enelexlogo {
    min-height: 35px;
    max-width: 171px;
  }
  .athlonlogo {
    min-height: 80px;
    max-width: 146px;
  }
  .insuramalogo {
    max-width: 169.39px;
    min-height: 34.16px;
  }
  .aldlogo {
    min-height: 79px;
    max-width: 142px;
  }
  .bmwlogo {
    min-height: 79px;
    max-width: 100px;
  }
  .toyatologo {
    min-height: 79px;
    max-width: 140px;
  }
  .audilogo {
    min-height: 69px;
    max-width: 120px;
  }
  .jaguarlogo {
    min-height: 70px;
    max-width: 136px;
  }
  .salesforcelogo {
    max-width: 161.75px;
    min-height: 112.79px;
    margin-right: 30px;
  }
  .amazonlogo {
    max-width: 163.2px;
    min-height: 112.79px;
    margin-right: 48px;
  }
  .hubsportlogo {
    max-width: 136.58px;
    min-height: 112.79px;
    margin-right: 30px;
  }
  .pipedrivelogo {
    max-width: 203.32px;
    min-height: 112.79px;
  }
  .zendexlogo {
    max-width: 252.54px;
    min-height: 112.79px;
  }
  .img_set {
    height: 130px;
    display: flex;
    align-items: center;
  }
  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 80px !important;
    margin-top: 132px !important;
  }
  .slide_3_btn {
    font-size: 28px !important;
    padding: 2px 20px 13px !important;
  }
  .slide_para_1 {
    font-size: 24px !important;
  }
  .slide_para_2 {
    font-size: 32px !important;
  }
  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    font-size: 32px !important;
  }
}

@media (max-width: 799.98px) {
  .icon_1 {
    top: 12% !important;
    left: -4% !important;
  }
  .icon_2 {
    svg {
      width: 800px !important;
    }
    top: -16% !important;
  }
  .icon_3 {
    top: 38% !important;
  }
}

@media (max-width: 767.98px) {
  .roadmap_para {
    max-width: 100%;
  }
  .icon_1 {
    top: 65% !important;
    left: -5% !important;
    svg {
      width: 250px !important;
    }
  }
  .icon_2 {
    top: -20% !important;
    svg {
      width: 650px !important;
    }
  }
  .icon_3 {
    top: -15% !important;
    right: -13% !important;
    svg {
      width: 300px !important;
    }
  }
  .iconsBar {
    min-width: 150px !important;
  }
  .crm_slider {
    min-width: 150px;
    height: unset;
  }
}

@media (max-width: 575.98px) {
  .small_icon_arrow {
    top: 0%;
    left: -2%;
    width: 70%;
    svg {
      max-width: 24px;
    }
  }
  .roadmap_para {
    padding: 16px 14px 0px 16px;
    h4 {
      line-height: 142%;
    }
  }
  .small_icon_arrow_2 {
    svg {
      max-width: 24px;
    }
  }
  .custom_top_spacing {
    margin-top: unset;
  }
  .common_button {
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb;
    border-radius: 10px;
    padding: 3px 8px;
    font-weight: 400;
  }
  .Calendly_button {
    background: rgba(126, 228, 156, 0.5);
    border: 1px solid #edfafb;
    border-radius: 10px;
    padding: 7px 33px;
    font-weight: 500;
  }
  .image_hight {
    width: 25px;
    height: 25px;
  }
  .lh_0 {
    line-height: 7px !important;
  }
  .padding_y163 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .common_gap {
    gap: 10px;
  }
  .meeting_top_space {
    margin-top: 70px;
  }
  .margin_top {
    margin-top: 10px;
  }
  .common_width {
    width: 18px;
    height: 18px;
  }
  .footer_logo {
    width: 80px;
    height: 32px;
  }
  .margin_top15 {
    margin-top: 11px;
  }
  .margin_top36 {
    margin-top: 16px;
  }
  .text_sm {
    font-size: 16px !important;
    font-weight: 500;
  }
  .padding_y55 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .icon_1 {
    svg {
      width: 170px !important;
    }
    top: 56% !important;
    left: -5% !important;
  }
  .icon_2 {
    svg {
      width: 720px !important;
      transform: unset !important;
    }
    top: -26% !important;
  }
  .icon_3 {
    svg {
      width: 240px !important;
      margin-left: -20px !important;
    }
    right: 20px !important;
    top: -20% !important;
    right: -70px !important;
  }
  .third_section {
    background: #7ee49c;
  }
  .slide_para_2 {
    font-size: 20px !important;
  }
  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    max-width: 285px !important;
    margin: auto !important;
  }
  .hero_section_heading {
    transform: translateY(-98px);
  }
  .custom_business_heading {
    font-size: 28px !important;
    line-height: 195% !important;
  }
}

@media (max-width: 379.98px) {
  .icon_2 {
    svg {
      width: 600px !important;
    }
    top: -40% !important;
  }
}

@media (max-width: 374.98px) {
  .hero_btn {
    font-size: 18px !important;
    padding: 5px 12px;
  }
  .icon_2 {
    top: -50% !important;
  }
}
