@media (min-width: 576px) {
  .custom_margin_footer {
    margin-top: 24px !important;
  }

  .custom_content_padding {
    padding-top: 80px !important;
  }

  .social_links_parent a img {
    width: 36px;
    height: 36px;
  }

  .contact_icon {
    width: 32px;
    height: 32px;
  }
  .w-sm-unset {
    width: unset !important;
  }
}

@media (min-width: 768px) {
  .custom_content_padding {
    padding-top: 15px !important;
  }
}

@media (min-width: 992px) {
  .contact_icon {
    width: 39px;
    height: 39px;
  }
  .preloader_lottie {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .social_links_parent a img {
    width: 46px;
    height: 46px;
  }
  .navbar_links .font_sm {
    font-size: 16px !important;
  }
  .navbar_btn {
    font-size: 24px !important;
  }
}

@media (min-width: 1300px) and (max-width: 1399.98px) {
  .common_container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1400px) {
  .custom_margin_footer {
    margin-top: 30px !important;
  }
  .common_container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .business_img_2 {
    object-fit: contain;
    max-height: 500px;
  }
}

@media (min-width: 1600px) {
  .common_button {
    padding: 22px 24px 22px !important;
  }

  .footer_top_space {
    padding-top: 260px;
  }

  .about_img {
    height: 570px;
  }

  .timeline_icon_3 {
    max-width: 260px;
  }

  .tabs_lottie {
    top: 10%;
  }

  .tabs_lottie_1 {
    top: 6%;
  }

  .meeting_text_color {
    color: var(--color-white-off);
  }

  .divide_space_text {
    justify-content: space-between !important;
  }

  .custom_container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 12px;
  }

  .business_img_1 {
    margin-left: 100px !important;
    max-width: 450px !important;
  }

  .business_img_2 {
    object-fit: contain;
    max-height: 544px;
    max-width: 359px;
    margin-left: 190px;
  }

  .business_img_3 {
    max-width: 369px;
    margin-left: 150px;
  }

  .business_img_4 {
    width: 645px !important;
  }

  .hero_slide_para_2 {
    padding-top: 48px !important;
  }

  .number_heading {
    margin-top: 96px;
  }

  .common_container {
    max-width: 1547px !important;
  }

  .tabs_parent {
    min-height: 951px;
  }
}

@media (min-width: 1400px) and (max-width: 1599.98px) {
  .business_img_1 {
    margin-left: 72px !important;
    max-width: 360px !important;
  }

  .business_img_2 {
    max-height: 444px;
    max-width: 359px;
    margin-left: 190px;
  }

  .business_img_3 {
    max-width: 300px;
    margin-left: 150px;
  }

  .business_img_4 {
    width: 485px !important;
    margin-left: 20px !important;
  }

  .business-content {
    transform: translateY(20px) !important;
    padding-top: 14px !important;
  }
}

@media (min-width: 1930px) {
  .tabs_content_parent {
    margin-top: 300px;
  }
}

@media (max-width: 1799.98px) {
  .tab_right_icon {
    right: -21.5%;
  }
}

@media (max-width: 1599.98px) {
  .meeting_text_color {
    color: white;
  }

  .custom_height_tab_img {
    max-height: 565px;
    width: 70% !important;
    left: 15% !important;
  }

  .tabs_parent {
    height: 144vh;
  }

  .tabs_lottie {
    top: 20%;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 38% !important;
  }

  .i_pad_img_2 {
    transform: scale(0.76);
    margin-top: 64px;
    margin-left: -6px;
  }

  .footer_background_set {
    height: 720px;
  }

  .custom_size_timeline_text {
    font-size: 16px;
  }

  .tab_text_position {
    transform: translateY(-120px);
  }

  .hero_slide_1 {
    margin-top: -80px;
  }

  .hero_slide_2 {
    margin-top: -72px;
  }

  .tab_right_icon {
    right: -15.5%;
  }
}

@media (max-width: 1499.98px) {
  .meeting_para {
    line-height: 260% !important;
    max-width: 1072px !important;
  }

  .meeting_para .common_button,
  .custome_size {
    font-size: 20px !important;
  }

  .small_icon {
    max-width: 39px !important;
    left: -60px !important;
  }

  .i_pad_img_2 {
    transform: scale(0.78);
    margin-top: 52px;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 36.5% !important;
  }

  .hero_slide_3_btn {
    font-size: 28px !important;
  }

  .show_chat_icon {
    right: 95px;
  }

  .tab_right_icon {
    right: -11% !important;
  }
}

@media (max-width: 1399.98px) {
  .footer_top_space {
    padding-top: 190px;
  }

  .timeline_text1_max_w {
    max-width: 25rem;
  }

  .small_icon {
    left: 0%;
  }

  .tab_right_icon {
    right: -18% !important;
  }

  .custom_business_img_height .business_img_1 {
    max-height: 300px;
  }

  .custom_business_img_height .business_img_2 {
    max-height: 330px;
  }

  .custom_business_img_height .business_img_3 {
    max-height: 200px;
  }

  .custom_business_img_height {
    height: 350px !important;
    padding-left: 48px;
  }

  .custom_business_img_height img {
    object-fit: contain;
  }

  .small_icon {
    max-width: 30px !important;
    left: 15px !important;
  }

  .manager_content {
    transform: translateY(-160px);
  }

  .i_pad_img_2 {
    transform: scale(0.84);
    margin-top: 86px;
  }

  .tab_text_position {
    transform: translateY(-76px);
  }

  #main-assets {
    padding-bottom: 104px;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 41% !important;
  }

  .crm_parent_img {
    flex-wrap: wrap;
  }

  .crm_parent_img .crm_img_size {
    transform: scale(0.9);
  }

  .crm_parent_img .crm_img_size img {
    max-width: 200px;
  }

  .hero_slide_1,
  .hero_slide_2 {
    margin-top: 0px;
  }
}

@media (max-width: 1299.98px) {
  .timeline_icon_3 {
    max-width: 150px;
  }

  .i_pad_img_2 {
    transform: scale(0.87);
  }

  .tab_right_icon {
    right: -14.2% !important;
  }
}

@media (max-width: 1199.98px) {
  .footer_top_space {
    padding-top: 0px;
  }

  .timeline_years h2 {
    letter-spacing: -5px;
  }

  .about_img {
    height: 400px;
  }

  .timeline_icon_3 {
    max-width: 110px;
  }

  .timeline_car_icon {
    max-width: 260px;
  }

  .text_parent_height {
    height: 75%;
  }

  .timeline_text1_max_w {
    top: 20%;
  }

  .tabs_lottie {
    top: 44% !important;
    width: 60% !important;
    left: 19% !important;
  }

  .tabs_lottie_1 {
    top: 44% !important;
    width: 60% !important;
    left: 19% !important;
  }

  .tab_text_position {
    transform: translateY(-106px) !important;
  }

  .small_icon_arrow {
    top: -5%;
    left: 0%;

    svg {
      max-width: 42px;
    }
  }

  .small_icon_arrow_2 {
    top: 70%;
    right: 30%;

    svg {
      max-width: 42px;
    }
  }

  .navbar_links.font_sm {
    font-size: 14px !important;
  }

  .navbar_btn {
    width: 87px;
    height: 42px;
  }

  .i_pad_img_2 {
    transform: scale(0.67);
    margin-left: -3px;
    margin-top: 82px;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 48px !important;
  }

  .ipad_img {
    height: 65vh !important;
    padding-bottom: 30px;
  }

  .hero_slide_para_2 {
    font-size: 20px !important;
  }

  .meeting_para .common_button {
    font-size: 20px !important;
    padding: 14.4px 16px !important;
  }

  .footer_background_set {
    height: 530px;
  }

  .custom_size_timeline_text {
    font-size: 13px;
  }

  .timeline_btn {
    padding: 0px 15px 4px;
  }

  .parliamone {
    &::after {
      content: "";
      position: absolute;
      height: 60px;
      width: 1.69px;
      border: 1px solid var(--color-white-off);
      opacity: 0.5;
      background-color: var(--color-white-off);
      right: -25px;
      top: -16px;
    }
  }

  .btn_close_position {
    top: 35px;
    right: 25px;
    width: 3%;
  }

  .logo_width {
    max-width: 210px;
  }

  .navbar_links .font_sm {
    font-size: 14px !important;
  }

  .navbar_btn {
    width: 87px;
    height: 42px;
    padding: 7px 24px 10px;
  }

  .business-content h3 {
    font-size: 20px !important;
  }

  .business-content p {
    font-size: 16px !important;
    max-width: 360px !important;
  }

  .manager_content {
    transform: translateY(50px);
  }

  .arrow-hero-two {
    max-width: 443px;
    margin-left: 24px;
  }

  .tabs_parent {
    height: 164vh;
  }

  .crm_parent_img .crm_img_size img {
    max-width: 150px;
  }

  .hero_slide_3_btn {
    font-size: 24px !important;
    width: 136px !important;
  }

  .intro_tab_frame {
    height: 740px;
  }

  .tab_right_icon {
    right: -13% !important;
  }
}

@media (max-width: 991.98px) {
  .location_icon {
    min-width: 32px;
  }
  .footer_background_set {
    height: 625px;
  }

  .meeting_para {
    max-width: 600px !important;
  }

  .footer_top_space {
    padding-top: 120px;
  }

  .navbar_btn {
    width: 135px;
    height: 55px;
  }

  .i_pad_img_2 {
    max-height: 750px;
    transform: unset;
    object-fit: contain;
    margin-top: 50px;
  }

  #main-assets {
    padding-bottom: 394px;
    transform: translateY(0px);
  }

  .tab_text_position {
    transform: translateY(-50px) !important;
  }

  .tabs_parent {
    height: 131vh;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 38% !important;
  }

  .tabs_lottie_width {
    width: 100% !important;
  }

  .custom_content_size p,
  .custom_content_size button {
    font-size: 24px !important;
  }

  .timeline_icon_3 {
    max-width: 200px;
  }

  .timeline_text1_max_w {
    max-width: 45rem;
    top: 10%;
  }

  .timeline_content_4_parent {
    right: -70%;
  }

  .text_parent_height {
    top: 18%;
  }

  .timeline_btn {
    padding: 3px 25px 8px;
  }

  .small_icon_arrow_2 {
    top: 65%;
    right: 25%;
    top: unset;
    right: -20px;
    bottom: -40px;

    svg {
      max-width: 52px;
    }
  }

  .small_icon_arrow {
    left: 0%;

    svg {
      max-width: 52px;
    }
  }

  .about_parent {
    background-color: var(--color-light-green_2);
    height: 100% !important;
  }

  .roadmap_para {
    max-width: 621px;
    margin: auto;
    padding: 16px 19px 0px 52px;
  }

  .custom_top_spacing {
    margin-top: 8vh;
  }

  .custom_height_tab_img {
    left: 0% !important;
    width: 100% !important;
  }

  .i_pad_img {
    width: 150%;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 80px !important;
  }

  .hero_slide_para_1 {
    font-size: 24px !important;
  }

  .hero_slide_para_2 {
    font-size: 32px !important;
  }

  .campagne_para {
    max-width: 520px !important;
    margin: auto !important;
  }

  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    font-size: 32px !important;
  }

  .custom_size_timeline_text {
    font-size: 24px;
  }

  .timeline_car_icon {
    max-width: 340px;
  }

  .btn_close_position {
    top: 46px;
    right: 48px;
    width: 3%;
  }

  .btn_close_position svg {
    width: 40px;
    height: 40px;
  }

  .parliamone {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100.69px;
      border: 1px solid var(--color-white-off);
      opacity: 0.5;
      background-color: var(--color-white-off);
      right: -5px;
      top: 35px;
    }
  }

  .parliamone {
    &::after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      border: 1px solid transparent;
      opacity: 0.5;
      background-color: transparent;
      right: -30px;
      top: -20px;
    }
  }

  .ipad_img {
    max-width: 665px;
    height: 80vh !important;
  }

  .manager_content {
    transform: translateY(-50px);
  }

  .hero-outline-arrow svg {
    width: 100vw;
  }
  .hero_slide_3_btn {
    font-size: 28px !important;
  }

  .crm_parent_img .crm_img_size {
    transform: scale(1);
  }

  .crm_parent_img .crm_img_size img {
    max-width: 210px;
    min-width: 210px;
    padding: 0 16px;
    height: 146px;
  }

  .show_chat_icon {
    right: 10px;
  }

  .header_section {
    left: 0 !important;
  }

  .intro_tab_frame {
    height: 1170px;
  }
}

@media (max-width: 799.98px) {
  .hero_slide_para_2 {
    max-width: 526px;
    margin: auto;
  }

  .i_pad_img_2 {
    max-height: 670px;
  }

  #main-assets {
    transform: translateY(70px);
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 36% !important;
  }

  .intro_tab_frame {
    height: 950px;
  }

  .ipad_img {
    max-width: 645px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .timeline_btn {
    font-size: 21px !important;
    padding: 0px 30px;
    display: inline-block;
    height: 39px;
  }

  .timeline_car_icon {
    max-width: 473px;
  }

  .timeline_tiguido_icon {
    max-width: 259px;
  }

  .timeline_icon_3 {
    width: 328px;
    max-width: 328px;
  }

  #timeline-heading-1 p,
  #timeline-heading-2,
  #timeline-heading-3 p,
  #timeline-heading-4 p {
    font-size: 20px !important;
    line-height: 147%;
  }

  #timeline-heading-4 .timeline_btn {
    height: 30px !important;
    font-size: var(--font-md) !important;
    padding: 0px 41px !important;
  }

  .timeline_content_4_parent {
    right: -55%;
  }
}

@media (max-width: 767.98px) {
  .small_tab_arrow_img {
    height: 310vh;
  }

  .roadmap_para {
    max-width: 100%;
  }

  .custom_size_timeline_text {
    font-size: 16px;
  }

  .timeline_car_icon {
    max-width: 250px;
  }

  .timeline_btn {
    padding: 4px 20px 4px;
    vertical-align: middle !important;
  }

  .timeline_text_heading {
    white-space: inherit;
    width: 100%;
  }

  .parliamone {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100.69px;
      border: 1px solid var(--color-white-off);
      opacity: 0.5;
      background-color: var(--color-white-off);
      right: -15px;
      top: 30px;
    }
  }

  .crm_parent_img .crm_img_size img {
    max-width: 140px;
    min-width: 140px;
    height: 86px;
    padding: 0 12px;
  }

  .logo_width {
    max-width: 175px;
  }

  .toggle_icon svg {
    max-width: 26px !important;
  }
}

@media (max-width: 575.98px) {
  .timeline_btn {
    border-radius: 7px !important;
  }

  .footer_top_space {
    padding-top: 65px;
  }
  .timeline_content_4_parent {
    right: -45%;
  }

  .timeline_tiguido_icon {
    max-width: 145px;
  }

  .timeline_car_icon {
    max-width: 175px;
  }

  .footer_social_icon svg {
    width: 23px;
    height: 23px;
  }
  .custom_content_size p,
  .custom_content_size button {
    font-size: 15px !important;
  }

  .i_pad_img_2 {
    max-height: 400px;
    margin-top: -40px !important;
  }

  .tab_text_position {
    transform: translateY(0px) !important;
    margin-bottom: 4px !important;
  }

  .tabs_lottie {
    top: 4% !important;
  }

  .timeline_icon_3 {
    max-width: 150px;
  }

  .timeline_line_img {
    left: 20px;
  }

  .timeline_arrow_icon {
    top: 71.5%;
  }

  .timeline_dots {
    height: 20px;
    width: 20px;
  }

  .text_parent_height {
    top: 20%;
    height: 80%;
  }

  .i_pad_img_2 {
    margin-left: unset;
  }

  #main-assets {
    transform: translateY(48px);
  }

  .tabs_parent {
    height: 138vh;
  }

  .tabs_lottie_width {
    width: 100%;
  }

  .tabs_lottie_1 {
    top: 39% !important;
  }

  .tabs_lottie {
    top: 38% !important;
  }

  .tabs_btn {
    padding: 8px;
  }

  .small_icon_arrow {
    top: 0%;
    left: -2%;
    width: 70%;

    svg {
      max-width: 24px;
    }
  }

  .roadmap_para {
    padding: 16px 14px 0px 16px;

    h4 {
      line-height: 142%;
    }
  }

  .small_icon_arrow_2 {
    svg {
      max-width: 24px;
    }
  }

  .custom_top_spacing {
    margin-top: unset;
  }

  .common_button {
    padding: 10px 24px 13px !important;
  }

  .meeting_man_img {
    width: 35px;
    height: 35px;
  }

  .custom_content_padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .meeting_custom_top_space {
    margin-top: 10px;
  }

  .contact_icon {
    width: 18px;
    height: 18px;
  }

  .footer_logo {
    width: 114px;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 77px;
  }

  .meeting_btn_parent a {
    font-size: 20px;
  }

  .custom_margin_footer {
    margin-top: 16px;
  }

  .business_parent {
    background: var(--color-light-green);
  }

  .hero_slide_para_2 {
    font-size: 20px !important;
  }

  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    max-width: 285px !important;
    margin: auto !important;
  }

  .custom_business_heading {
    font-size: 25px !important;
    line-height: 90% !important;
  }

  .meeting_para {
    min-width: 355px !important;
    max-width: 370px !important;
    font-size: 24px !important;
    line-height: 208% !important;
  }

  .meeting_para .common_button {
    font-size: 24px !important;
    height: 37px !important;
    padding: 6.4px 16px !important;
  }

  .timeline_btn {
    padding: 2px 10px 4px;
  }

  .meeting_btn_parent button {
    font-size: 20px !important;
    padding: 8px 38px !important;
  }

  .fissa-meeting-content-parent p {
    font-size: 16px !important;
    line-height: 112% !important;
    color: var(--color-white-off) !important;
  }

  .show_chat_icon {
    right: 3px;
  }

  .social_links_parent a img {
    max-width: 24px !important;
  }

  .list_item_text {
    font-size: 14px !important;
  }

  .footer_background_set {
    height: 685px;
  }

  .footer_social_icons1 {
    width: 23px;
    height: 23px;
  }

  .about_text_size p {
    font-size: 18px !important;
  }

  .custom_size_timeline_text {
    font-size: 14px;
  }

  .logo_width {
    max-width: 175px;
    min-height: 30.93px;
  }

  .btn_close_position {
    top: 43px;
    right: 32px;
    width: 5%;
  }

  .btn_close_position svg {
    width: 20px;
    height: 20px;
  }

  .navbar_btn {
    padding: 0px 24px 2px;
    max-width: 90px;
    height: 35px;
  }

  .navbar_overlay_links ul li a,
  .sentia_link {
    font-size: 4vw !important;
  }

  .navbar_btn {
    transform: scale(1.1);
  }

  .hero_heading_btn {
    font-size: 20px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    padding: 3% 16px 3% !important;
  }
  .topscroll {
    left: 10px;
    width: 40px;
    height: 40px;
  }
  .topscroll svg {
    width: 25px;
  }
  .chat_icon svg {
    width: 40px;
  }
  .timeline_btn_padding {
    padding: 5px 16px 5px !important;
  }

  .hero_slide_3_btn {
    width: 114px !important;
  }

  #hero-main-heading {
    max-width: 254px !important;
    margin: 0 auto !important;
    font-size: 32px !important;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 60px !important;
  }

  .manager_content {
    transform: translateY(-10px);
  }

  .ipad_img {
    height: 75vh !important;
    max-width: 110%;
  }

  .crm_image_size {
    min-height: 126px;
  }

  .tabs_btn {
    height: 42px !important;
    margin-bottom: 4px !important;
  }

  .intro_tab_frame {
    height: 670px;
  }

  #partners .container,
  #CRM .container {
    padding: 0px !important;
  }
}

@media (min-width: 380px) and (max-width: 450px) {
  .timeline_arrow_icon {
    top: 72.5%;
  }
}

@media (max-width: 374.98px) {
  .meeting_para {
    min-width: 100% !important;
    font-size: 18px !important;
  }

  .meeting_para .common_button {
    font-size: 18px !important;
  }

  .timeline_arrow_icon {
    top: 72.5%;
  }
}

// TABS CSS ==========>
@media (max-width: 1199.98px) and (min-height: 700px) {
  .tabs_lottie,
  .tabs_lottie_1 {
    top: 42% !important;
  }

  .tabs_lottie_width {
    width: 80% !important;
  }

  .tabs_parent {
    height: 140vh !important;
  }
}

@media (max-width: 799.98px) and (max-height: 1199.98px) {
  .tabs_lottie,
  .tabs_lottie_1 {
    top: 36% !important;
  }
}

@media (max-width: 575.98px) and (min-height: 700px) {
  .tabs_parent {
    height: 841px !important;
  }

  .tabs_lottie {
    top: 28% !important;
  }

  .tabs_lottie_1 {
    top: 31% !important;
  }

  .tabs_lottie_width {
    width: 100% !important;
  }
}

@media (max-width: 575.98px) and (min-height: 730px) {
  .tabs_parent {
    height: 951px !important;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 38% !important;
  }
}

@media (max-width: 575.98px) and (min-height: 800px) {
  .tabs_parent {
    height: 1021px !important;
  }
}

@media (max-width: 767.98px) and (max-height: 399.98px) {
  #main-content {
    transform: translate(0px, -30px) !important;
  }

  .tabs_lottie_width {
    width: 60% !important;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 50% !important;
  }

  .custom_content_size p,
  .custom_content_size button {
    font-size: 20px !important;
  }
}

@media (max-width: 767.98px) and (max-height: 399.98px) {
  .tabs_parent {
    height: auto !important;
  }
}

@media (max-width: 991.98px) and (max-height: 399.98px) {
  #main-content {
    transform: translate(0px, -50px) !important;
  }

  .arrow-hero-one {
    transform: scale(0.4) !important;
  }

  .arrow-hero-two {
    max-width: 390px !important;
    margin-left: 150px !important;
    margin-top: 30px !important;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 32px !important;
  }

  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    font-size: 16px !important;
  }

  .hero_slide_para_1,
  .hero_slide_para_2 {
    font-size: 18px !important;
    max-width: 450px !important;
    margin-bottom: 0px !important;
  }

  .hero_slide_2 {
    margin-top: 20px;
  }

  .campagne_para {
    max-width: 440px !important;
    padding-top: 24px !important;
  }

  .hero_slide_3_btn {
    font-size: 16px !important;
    width: 96px !important;
  }

  .tabs_parent {
    height: 1500px !important;
  }

  .tabs_lottie_width {
    width: 50% !important;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 54.3% !important;
  }

  .ipad_img {
    height: 90vh !important;
    margin-top: 40px;
  }

  .custom_content_size p,
  .custom_content_size button {
    font-size: 20px !important;
  }

  #hero-main-heading {
    margin-bottom: 40px !important;
  }

  .logo_width {
    max-width: 190px;
  }

  .toggle_icon svg {
    max-width: 30px !important;
  }
}

@media (max-width: 1399.998px) and (max-height: 599.98px) {
  .intro_tab_frame {
    height: 670px !important;
  }
}

@media (max-width: 1399.98px) and (max-height: 699.98px) {
  .ipad_img {
    height: 90vh;
  }

  #hero-ipad-white {
    transform: translate(-50%, -50%) scale(0.7, 0.7) !important;
  }

  .intro_tab_frame {
    height: 734px;
  }

  .arrow-hero-one {
    transform: scale(0.7, 0.7) !important;
    margin-top: 50px !important;
  }

  .tab_text_position {
    transform: translateY(-50px) !important;
  }

  .tab_text_position p,
  .tab_text_position button {
    font-size: 15px !important;
  }

  .tab_text_position button {
    height: 38px !important;
  }
}

@media (max-width: 1199.98px) and (max-height: 699.98px) {
  .intro_tab_frame {
    height: 624px;
  }

  .arrow-hero-one {
    transform: scale(0.8, 0.8) !important;
    margin-top: 8px !important;
  }
}

@media (max-width: 991.98px) and (max-height: 399.98px) {
  #hero-ipad-white {
    transform: translate(-50%, -70%) scale(0.7, 0.7) !important;
  }

  .intro_tab_frame {
    height: 890px !important;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 52.6% !important;
    left: 16% !important;
    width: 70% !important;
  }
}

@media (max-width: 767.98px) and (max-height: 399.98px) {
  .hero_slide_1 h2,
  .hero_slide_2 h2 {
    font-size: 15px !important;
    margin-top: 24px;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    font-size: 26px !important;
    padding: 8px 0px !important;
  }

  .hero_slide_para_1,
  .hero_slide_para_2 {
    font-size: 16px !important;
    max-width: 450px !important;
    margin-bottom: 0px !important;
  }

  .campagne_para {
    max-width: 340px !important;
    padding-top: 16px !important;
    font-size: 16px !important;
  }

  .intro_tab_frame {
    height: 830px !important;
  }

  #hero-ipad-white {
    transform: translate(-50%, -72%) scale(0.7, 0.7) !important;
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 47% !important;
  }

  .tab_text_position {
    padding-top: 0px !important;
  }

  .tab_text_position p,
  .tab_text_position button {
    font-size: 13px !important;
  }

  .tab_text_position button {
    height: 32px !important;
    padding: 9px 24px 10px;
  }
}

@media (max-width: 1199.98px) and (max-height: 991.98px) {
  .arrow-hero-one {
    transform: scale(0.6, 0.6) !important;
  }
}

@media (max-width: 1199.98px) and (max-height: 799.98px) {
  .arrow-hero-one {
    transform: scale(0.55, 0.55) !important;
    margin-top: 40px !important;
  }

  .ipad_img {
    height: 75vh !important;
  }
}

@media (max-width: 575.98px) and (max-height: 699.98px) {
  .tabs_parent {
    height: 138vh !important;
  }

  .tabs_lottie {
    top: 34.5% !important;
  }

  .tabs_lottie_1 {
    top: 36% !important;
  }

  #main-assets {
    transform: translateY(78px);
  }

  #hero-ipad-white {
    transform: translate(-50%, -44%) scale(0.7, 0.7) !important;
  }
}

@media (min-width: 1600px) and (max-height: 799.98px) {
  .intro_tab_frame {
    height: 740px;
  }
}

@media (min-width: 1600px) and (min-height: 800px) {
  .tabs_parent {
    min-height: 100%;
    height: 100%;
  }
}

@media (min-width: 1600px) and (max-height: 959.98px) {
  #main-assets {
    padding-bottom: 174px;
    transform: translateY(0px);
  }

  .tabs_lottie,
  .tabs_lottie_1 {
    top: 45% !important;
  }

  .tabs_lottie_width {
    width: 40%;
  }

  .hero_custom_container {
    margin-top: -40px;
  }

  .ipad_img {
    height: 70vh;
  }

  .hero_slide_1 h3,
  .hero_slide_2 h3 {
    margin-top: 40px !important;
  }

  .hero_slide_para_2 {
    padding-top: 24px !important;
  }
}

@media (min-height: 1400px) {
  .timeline_arrow_img {
    bottom: -31%;
  }
}

@media (max-height: 1100px) {
  .timeline_arrow_img {
    bottom: 80.5%;
    transform: translateY(81.5%);
  }
}

@media (max-height: 1079px) {
  .timeline_arrow_img {
    bottom: 74%;
    transform: translateY(74%);
  }
}

@media (max-height: 1024px) {
  .timeline_arrow_img {
    bottom: 74%;
    transform: translateY(74%);
  }
}

@media (max-height: 1024px) and (max-width: 768px) {
  .timeline_arrow_img {
    bottom: 66%;
    transform: translateY(74%);
  }
}

@media (max-height: 800px) {
  .timeline_arrow_img {
    bottom: 66%;
    transform: translateY(66%);
  }
}

@media (max-height: 700px) {
  .timeline_arrow_img {
    bottom: 64%;
    transform: translateY(64%);
  }
}

@media (max-height: 600px) {
  .timeline_arrow_img {
    bottom: 55%;
    transform: translateY(60%);
  }
}

@media (max-width: 668px) and (max-height: 376px) {
  .text_parent_height {
    height: 106% !important;
  }

  .timeline_dots {
    height: 20px;
    width: 20px;
  }

  .timeline_line_img {
    left: 18px;
  }

  .timeline_car_icon {
    max-width: 185px;
  }

  .timeline_arrow_img {
    bottom: 51%;
  }

  .timeline_tiguido_icon {
    max-width: 140px;
  }
}
