@import url(./partrner.css);
@import url(./header.css);

/* ============DEFINE HERO SECTION CSS START============ */
.main_div {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: -2px !important;
}

.main_div {
  z-index: 10;
  background-color: white;
}

.hero_btn {
  font-size: var(--font-2xl) !important;
  border: 1px solid #edfafb;
  border-radius: 10px;
  padding: 10px 24px;
  color: #2d5363 !important;
  background: #7ee49c;
}

.bg_img {
  background: url("./assets/images/png/man-img.png");
}

.bg_green {
  background: #2d5363 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* .h-300 {
  height: 300vh;
} */
/* nav {
  background-color: rgba(255, 0, 0, 0.164);
} */
.hero_bg {
  position: relative;
}

.heading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon_1,
.icon_2,
.icon_3,
.icon_4 {
  position: absolute;
}

.icon_5 {
  max-width: 500px;
  z-index: -1;
  left: 10%;
}

.icon_1 {
  top: 65%;
  left: 15%;
}

.side_icon {
  right: 0;
  bottom: 0;
}

.icon_2 {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.bg_white {
  background-color: white;
}

.icon_3 {
  top: 50%;
  right: 7%;
}

.icon_4 {
  /* transform: translateX(-50%) !important; */
  left: 50%;
  z-index: 1;
}

.second_div {
  position: relative;
}

.second_section_text {
  min-height: 100vh;
}

.i_pad_img {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.i_pad_img_2 {
  max-width: 1200px;
  margin: 0 auto;
}

.max_width {
  max-width: 1200px;
  margin: 0 auto;
}

.max_width_tabs {
  max-width: 1200px;
  margin: 0 auto;
}

.vh-200 {
  height: 200vh;
}

/* .i_pad_img::after {
  position: absolute;
  content: "";
  width: 91%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: 29424D;
  z-index: -1;
  border-radius: 20px;
  background-color: #2d5363;
} */

.icon_4 {
  z-index: -1;
}

.carplanner_bg {
  background: #29424d !important;
}

.carplanner_logo {
  max-width: 490px;
}

.carplanner_cards {
  width: 565px;
}

.carplanner_btn {
  padding: 8px 36px 8px 36px;
  background: rgba(83, 132, 153, 0.5);
  border-radius: 10.9063px;
  transition: all 0.3s ease-in-out;
}

.carplanner_btn:hover {
  background: #ffffff;
  color: rgba(83, 132, 153, 1) !important;
}

.carplanner_btn svg {
  transition: all 0.3s ease-in-out;
}

.carplanner_btn .car_img {
  transform: scale(1) !important;
  transition: all 0.3s ease-in-out;
}

.carplanner_btn:hover .car_img {
  transform: scale(1.2) !important;
}

.carplanner_btn:hover svg path {
  fill: rgba(83, 132, 153, 1) !important;
}

.car_img {
  height: 24px !important;
}

.tab_right_icon {
  right: 2%;
}

.tabs_btn {
  background: rgba(126, 228, 156, 0.5);
  border: 1px solid #edfafb;
  border-radius: 10px;
  padding: 10px 24px;
}

.tabs_wrap {
  flex-wrap: wrap;
}

/* =================DEFINE CRM SLIDER CODE CSS================= */
.crm_slider {
  min-width: 220px;
  max-width: 220px;
  height: 250px;
  display: flex;
  align-items: center;
}

/* =====================BACK TO TOP===================== */
.topscroll {
  position: fixed;
  right: 15px;
  bottom: 25px;
  background: #7ee49c;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-animation: move 2s ease-in-out infinite;
  -webkit-animation: up-down 2.5s ease-in-out infinite;
  animation: up-down 2.5s ease-in-out infinite;
}

.topscroll:hover {
  box-shadow: 0px 4px 30px #7ee49c;
}

.big_icon {
  top: 0;
  z-index: -1;
}

.text_1 {
  top: 0;
  opacity: 0;
  transform: rotate(-50deg);
}

.text_2 {
  top: 40px;
  opacity: 0;
  transform: rotate(-50deg);
}

.text_3 {
  top: 80px;
  opacity: 0;
  transform: rotate(-50deg);
}

.text_4 {
  top: 120px;
  opacity: 0;
  transform: rotate(-50deg);
}

.small_icon {
  position: absolute;
  left: -70px;
}

.custom_business_img_height {
  height: 400px;
}

.roadmap_icon_2,
.roadmap_icon_1 {
  position: absolute;
  max-width: 400px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.roadmap_text_1,
.roadmap_text_2,
.roadmap_text_3 {
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* .z_1 {
  z-index: 1;
} */
.bg-green {
  background-color: darkgreen;
  /* opacity: 0; */
}

.forth_section {
  z-index: 5;
}

.z_negative {
  z-index: -1;
}

.small_icon_1,
.small_icon_2 {
  position: absolute;
  z-index: -1;
}

.business_icon_img_2 {
  top: 65%;
}

.opacity_0 {
  opacity: 0;
}

.vh-300 {
  height: 300vh;
}

.third_sec_height {
  height: 200vh;
}

.small_icon_1 {
  max-width: 2000px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.line_with_dot {
  height: 5px;
  background-color: white;
  position: relative;
}

.line_with_dot::after {
  position: absolute;
  content: "";
  background: red;
  right: 0;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  border-radius: 50%;
}

.line_first::before {
  position: absolute;
  content: "";
  background: red;
  left: 0;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  border-radius: 50%;
}

.div_4 {
  right: 0;
  max-width: 200px;
}

@-webkit-keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.third_section {
  background: #29424D;
}

@media (min-width: 1600px) {
  .icon_2 svg {
    width: 1300px !important;
  }

  .business_icon_img_2 {
    top: 35%;
  }

  .divide_space_text {
    justify-content: space-between !important;
  }
}

@media (max-width: 1599.98px) {
  .icon_1 {
    top: 50% !important;
    left: 5% !important;
  }

  .icon_2 {
    top: -25% !important;
  }

  .icon_3 {
    top: 30% !important;
    right: -30px !important;
  }

  .icon_2 svg {
    width: 800px !important;
  }

  .icon_3 svg {
    width: 450px !important;
  }

  .custom_height_tab_img {
    max-height: 565px;
    width: 70% !important;
    left: 15% !important;
  }

  .i_pad_img_2 {
    margin-left: 180px;
  }
}

@media (max-width: 1499.98px) {
  .m_w_business_text {
    max-width: 400px;
  }
}

@media (max-width: 1399.98px) {
  .small_icon {
    left: 0%;
  }
}

@media (max-width: 1199.98px) {
  .icon_1 {
    top: 45% !important;
    left: 5% !important;
  }

  .icon_2 {
    top: -30% !important;
  }

  .icon_3 {
    top: 25% !important;
    right: -10px !important;
  }

  .icon_2 svg {
    width: 650px !important;
  }

  .icon_3 svg {
    width: 350px !important;
  }

  .hero_btn {
    padding: 8px 16px;
    border-radius: 6px !important;
  }

  .custom_height_tab_img {
    height: 550px;
  }

  .custom_height_tab_img {
    max-height: 450px;
    left: 15% !important;
  }

  .i_pad_img_2 {
    margin-left: 155px;
  }
}

@media (max-width: 991.98px) {
  .icon_1 svg {
    width: 250px !important;
  }

  .icon_2 svg {
    width: 750px !important;
  }

  .icon_3 svg {
    width: 300px !important;
  }

  .icon_1 {
    top: 70% !important;
    left: -5% !important;
  }

  .icon_2 {
    top: -5% !important;
  }

  .icon_3 {
    top: -10% !important;
    right: -50px !important;
  }

  .i_pad_img_2 {
    margin-left: 36px;
  }

  .icon_5 {
    left: -2%;
  }

  .custom_height_tab_img {
    left: 5% !important;
    width: 90% !important;
  }

  .i_pad_img {
    width: 150%;
  }

  .third_sec_height {
    /* height: 140vh; */
    height: unset;
  }

  /* .big_icon{
    scale: 2;
  } */
}

@media (max-width: 767.98px) {
  .icon_1 {
    top: 65% !important;
    left: -5% !important;
  }

  .icon_2 {
    top: -20% !important;
  }

  .icon_3 {
    top: -15% !important;
    right: -13% !important;
  }

  .icon_2 svg {
    width: 650px !important;
  }

  .icon_1 svg {
    width: 250px !important;
  }

  .icon_3 svg {
    width: 300px !important;
  }

  .iconsBar {
    min-width: 150px !important;
  }

  .crm_slider {
    min-width: 150px;
    height: unset;
  }
}

@media (max-width: 575.98px) {
  .icon_1 svg {
    width: 120px !important;
  }

  .icon_2 svg {
    width: 550px !important;
  }

  .icon_3 svg {
    width: 200px !important;
  }

  .icon_1 {
    top: 60% !important;
    left: -5% !important;
  }

  .icon_2 {
    top: -37% !important;
  }

  .icon_3 {
    right: 20px !important;
  }

  .icon_3 {
    top: -25% !important;
    right: -70px !important;
  }

  .third_section {
    background: #7EE49C;
  }
}

@media (max-width: 374.98px) {
  .hero_btn {
    font-size: 18px !important;
    padding: 5px 12px;
  }

  .icon_2 {
    top: -50% !important;
  }
}