@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  font-family: Mundial-regular;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

/* ====================font-family==================== */

@font-face {
  font-family: Mundial-light;
  src: url("./assets/fonts/Fontspring-DEMO-3-mundial-light-tty.otf");
}

@font-face {
  font-family: Mundial-regular;
  src: url("./assets/fonts/Fontspring-DEMO-4-mundial-regular-tty.otf");
}

@font-face {
  font-family: Mundial-semibold;
  src: url("./assets/fonts/Fontspring-DEMO-5-mundial-demibold-tty.otf");
}

@font-face {
  font-family: Mundial-bold;
  src: url("./assets/fonts/Fontspring-DEMO-6-mundial-bold-tty.otf");
}

/* =====================DEFINE FONT-FAMILY===================== */

.ff_mundial_light {
  font-family: Mundial-light;
  font-weight: 300;
}

.ff_mundial_regular {
  font-family: Mundial-regular;
  font-weight: 500;
}

.ff_mundial_semibold {
  font-family: Mundial-semibold;
  font-weight: 600;
}

.ff_mundial_bold {
  font-family: Mundial-bold;
  font-weight: 700;
}

.ff_montserrat {
  font-family: "Montserrat", sans-serif;
}

.ff_roboto {
  font-family: "Roboto", sans-serif;
}

/* =====================DEFINE ROOT CSS CODE===================== */

:root {
  /* =====================font-size===================== */
  --font-xsm: 14px;
  --font-sm: 16px;
  --font-md: 18px;
  --font-lg: 20px;
  --font-xl: 22px;
  --font-2xl: 24px;
  --font-3xl: 25px;
  --font-4xl: 27px;
  --font-5xl: 30px;
  --font-6xl: 40px;
  --font-7xl: 48.18px;
  --font-8xl: 50px;
  /* =======================color======================= */
  --color-white-off: #edfafb;
  --color-gray: #2d5363;
  --color-light-gray: rgba(83, 132, 153, 0.5);
  --color-light-green: #7ee49c;
  --color-light-green_2: #b5efcb;
  --color-dark-gray: #29424d;
  /* =======================background-color================== */
  --bg-light-white: #edfafb;
  --bg-gray: #2d5363;
}

/* ----------------------------------- ONLY-MEDIA-QUERIES ----------------------------------- */
@media (max-width: 1500px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 14px;
    --font-md: 15px;
    --font-lg: 17px;
    --font-xl: 22px;
    --font-2xl: 14px;
    --font-3xl: 22px;
    --font-4xl: 25px;
    --font-5xl: 17px;
    --font-6xl: 36px;
    --font-7xl: 38px;
    --font-8xl: 39px;
  }
}

@media (max-width: 1399.98px) {
  :root {
    --font-xsm: 12px;
    --font-sm: 14px;
    --font-md: 15px;
    --font-lg: 17px;
    --font-xl: 22px;
    --font-2xl: 14px;
    --font-3xl: 22px;
    --font-4xl: 25px;
    --font-5xl: 17px;
    --font-6xl: 36px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-xsm: 13px;
    --font-sm: 16px;
    --font-md: 14px;
    --font-lg: 15px;
    --font-xl: 22px;
    --font-2xl: 18px;
    --font-3xl: 22px;
    --font-4xl: 25px;
    --font-5xl: 24px;
    --font-6xl: 25px;
    --font-8xl: 32px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xsm: 9px;
    --font-sm: 12px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 20px;
    --font-3xl: 22px;
    --font-4xl: 22px;
    --font-5xl: 24px;
    --font-6xl: 32px;
    --font-7xl: 36px;
    --font-8xl: 40px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xsm: 14px;
    --font-sm: 16px;
    --font-md: 18px;
    --font-lg: 20px;
    --font-xl: 18px;
    --font-2xl: 18px;
    --font-3xl: 19px;
    --font-4xl: 20px;
    --font-5xl: 23px;
    --font-6xl: 28px;
    --font-7xl: 30px;
    --font-8xl: 35px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xsm: 9px;
    --font-sm: 7px;
    --font-md: 9px;
    --font-lg: 14px;
    --font-xl: 20px;
    --font-2xl: 22px;
    --font-2xl: 16px;
    --font-3xl: 17px;
    --font-4xl: 18px;
    --font-5xl: 20px;
    --font-6xl: 22px;
    --font-7xl: 26px;
    --font-8xl: 24px;
  }
}

/* =================== DEFINE FONT-SIZE======================== */
.font_xsm {
  font-size: var(--font-xsm);
}

.font_sm {
  font-size: var(--font-sm);
}

.font_md {
  font-size: var(--font-md);
}

.font_lg {
  font-size: var(--font-lg);
}

.font_xl {
  font-size: var(--font-xl);
}

.font_2xl {
  font-size: var(--font-2xl);
}

.font_3xl {
  font-size: var(--font-3xl);
}

.font_4xl {
  font-size: var(--font-4xl);
}

.font_5xl {
  font-size: var(--font-5xl);
}

.font_6xl {
  font-size: var(--font-6xl);
}

.font_7xl {
  font-size: var(--font-7xl);
}

.font_8xl {
  font-size: var(--font-8xl);
}

/* =================== DEFINE BACKGROUND-COLOR==================== */
.bg_light_white {
  background-color: var(--bg-light-white);
}

.bg_gray {
  background-color: var(--bg-gray);
}

/* =================== DEFINE COLOR======================== */
.color_white_off {
  color: var(--color-white-off);
}

.color_gray {
  color: var(--color-gray);
}

.color_dark_gray {
  color: var(--color-dark-gray);
}

.color_light_gray {
  color: var(--color-light-gray);
}

.color_light_green {
  color: var(--color-light-green);
}

/* ===================== DEFINE FONT-WEIGHT==================== */
.fw_medium {
  font-weight: 500;
}

.small_icon_arrow {
  top: 12%;
  left: -20px;
}

.small_icon_arrow_2 {
  top: 80%;
  right: 18%;
}

.noi_btn {
  padding: 5px 24px 12px !important;
}

.fifth_main .div_1 {
  max-width: 523px !important;
}

.the_time_line {
  max-width: 1003px;
}

.timeline_slide_content {
  max-width: 1173px;
}

.timeline_btn {
  padding: 2px 27px 6px;
  border: 2px solid #53849980;
  border-radius: 10.91px;
  position: relative;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

.pulse:focus,
.pulse:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 0.7em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #29424d;
  }
}

.z-10 {
  z-index: 10;
}

.fifth_main .div_1 p,
.fifth_main .div_2 p,
.fifth_main .div_3 p,
.fifth_main .div_4 p {
  letter-spacing: -0.01em;
  line-height: 147%;
}

.fifth_main .div_2 {
  max-width: 550px !important;
}

.fifth_main .div_3 {
  max-width: 600px !important;
  top: 364px !important;
}

.fifth_main .div_3 img {
  max-width: 289.29px !important;
}

.fifth_main .div_4 {
  top: 49% !important;
  right: 7% !important;
}

@media (min-width: 1600px) {

  .roadmap_icon_2,
  .roadmap_icon_1 {
    max-width: 600px !important;
  }

  .roadmap_col_content {
    max-width: 660px !important;
  }

  .roadmap_text_1 h4 {
    max-width: 820px;
  }

  .roadmap_text_2 h4,
  .roadmap_text_3 h4 {
    max-width: 840px;
  }
}

@media (max-width: 1400px) {
  .roadmapline_set {
    left: -220px;
    z-index: 1;
    width: 100% !important;
  }
}

@media (max-width: 1399.98px) {

  .roadmap_icon_2,
  .roadmap_icon_1 {
    max-width: 370px;
  }
}

@media (max-width: 1199.98px) {
  .carplanner_cards {
    width: 420px;
  }

  .carplanner_logo {
    max-width: 350px;
  }

  .small_icon_arrow {
    top: -5%;
    left: -5%;
  }

  .small_icon_arrow_2 {
    top: 64%;
    right: 30%;
  }

  .roadmap_icon_1,
  .roadmap_icon_2 {
    max-width: 300px !important;
  }

  .small_icon_arrow svg,
  .small_icon_arrow_2 svg {
    max-width: 42px;
  }
}

@media (max-width: 991.98px) {
  .carplanner_cards {
    width: 350px;
  }

  .carplanner_logo {
    max-width: 280px;
  }

  .roadmapline_set {
    left: -100px;
    z-index: 1;
    width: 100% !important;
  }

  .small_icon_arrow_2 {
    top: 65%;
    right: 25%;
  }

  .small_icon_arrow {
    left: 0%;
  }

  .forth_section {
    background-color: var(--color-light-green_2);
    height: 100% !important;
  }

  .roadmap_icon_1,
  .roadmap_icon_2 {
    display: none !important;
  }

  .roadmap_para {
    max-width: 621px;
    margin: auto;
    padding: 16px 19px 0px 52px;
  }

  .custom_top_spacing {
    margin-top: 12vh;
  }

  .small_icon_arrow_2 {
    top: unset;
    right: -20px;
    bottom: -40px;
  }

  .small_icon_arrow svg,
  .small_icon_arrow_2 svg {
    max-width: 52px;
  }
}

@media (max-width: 767.98px) {
  .roadmap_para {
    max-width: 100%;
  }
}

@media (max-width: 575.98px) {
  .small_icon_arrow {
    top: 0%;
    left: -2%;
  }

  .small_icon_arrow {
    width: 70%;
  }

  .roadmap_para {
    padding: 16px 14px 0px 16px;
  }

  .roadmap_para h4 {
    line-height: 142%;
  }

  .small_icon_arrow svg,
  .small_icon_arrow_2 svg {
    max-width: 24px;
  }

  .custom_top_spacing {
    margin-top: unset;
  }
}